html {
	box-sizing: border-box;
}

*, *::before, *::afrer, {
	box-sizing: inherit;
}

content-box-component {
	box-sizing: content-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: Cuprum, Arial, sens-serif;
	font-size: 13px;
	line-height: 24px;
	color: black;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	display: block;
	font-size: 24px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
	text-align: center;
	color: white;
	margin: 0px;
	width: 220px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
	
}

h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin-left: 30px;
}

h5 {
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 18px;
	margin-top: 25px;
}

.h1-first:hover {
	background-color: #ca2c37;
}

.h1-first:active {
	background-color: #ba2732;
}

li {
	list-style-type: none;
}

.search {
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: #293449;
}

.bookmarks {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #293449;
}

.bookmarks:hover {
	background-color: #212a3a;
}

.bookmarks:active {
	background-color: #161d29;
}

.basket {
	display: block;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #293449;
}

.basket:hover {
	background-color: #212a3a;
}

.basket:active {
	background-color: #161d29;
}

.basket-catalog {
	display: block;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #ee3643;
	width: 150px;
}

.top-menu {
	font-size: 17px;
	line-height: 18px;
	}

.ordering {
	background-color: #63a63e;
	width: 150px;
	padding: 12px;
	text-align: center;
}

.ordering:hover {
	background-color: #5fbb2d;
}

.ordering:active {
	background-color: #518534;
}

.desription {
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
	line-height: 23px;
	margin-right: 80px;
	margin-left: 55px;
	float: left;
}

.telephone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	text-align: center;
}

.adress {
	font-size: 14px;
	color: #32425c;
}

.telephone-adress {
	float: left;
	margin-right: 90px;
}

.user-block {
	display: flex;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-block a:hover {
	color: #ee3643;
}

.user-block a:active {
	color: rgba(0,0,0,.3)
}

.sign-up {
	float: left;
	margin-right: 60px;
}

.second-strips {
	margin-bottom: 45px;
}

.main-navigation {
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	
}

.site-navigation {
	background-color: #32425c;
	box-shadow: 0 5px 0 #293449;
}

.site-navigation li:hover {
	background: #293449;
}

.site-navigation li:active {
	background: #1d2739;
}

.site-navigation a {
	color: white;
	margin: 0 auto;
}

.site-navigation {
	list-style: none;
}

.category-caption {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.category-btn {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	border: 3px;
	display: inline-block;
	background: rgba(0,0,0,.1);
	text-align: center;
}

.category-btn:hover {
	background-color: rgba(0,0,0,.2);
}

.category-btn:active {
	background-color: rgba(0,0,0,.3);
}

.slider-description-first {
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
	text-transform: uppercase;
}

.slider-description-second {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.block1 {
	width: 300px;
	height: 123px;
	background-color: #ffbf47;
}

.block2 {
	width: 300px;
	height: 123px;
	background-color: #3bbce3;
}

.block3 {
	width: 300px;
	height: 123px;
	background-color: #dc91d8;
}

.block4 {
	width: 300px;
	height: 123px;
	background-color: #8ed78f;
}

.block5 {
	width: 300px;
	height: 123px;
	background-color: #ffc047;
	
}

.btn {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	border: 3px;
	display: inline-block;
	background: #ba2732;
	text-align: center;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ee3643;
}


.bosch-description {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	font-family: PT Sans, Arial, sens-serif;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	font-weight: bold;
	text-decoration: line-through;
	font-family: PT Sans, Arial, sens-serif;
}

.drill-btn {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	background-color: #ee3643;
	font-family: PT Sans, Arial, sens-serif;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

.servises-btn {
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	background-color: #32425c;
	color: #ffffff;
	outline: none;
	text-align: left;
}

.servises-btn:hover {
	background-color: #293449;
}

.servises-btn:active {
	background-color: #ffffff;
	color: #32425c;
}


.tehnomart {
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
	text-transform: uppercase;
}

.first-footer {
	background-color: #32425c;
}

.bottom {
 	background-color: #293449;
}

.footer-adress {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-navigation-top a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-navigation-top a:hover {
	color: #f1f5f7;
	text-decoration: underline;
}

.footer-navigation-top a:active {
	opacity: 0.5;
	
}

.footer-navigation-bottom a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-navigation-bottom a:hover {
	color: #ffd180;
	text-decoration: underline;
}

.footer-navigation-bottom a:active {
	opacity: 0.5;
}

.copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.e-mail {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.developer {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.developer .mail-site {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.developer .mail-site:hover {
	text-decoration: underline;
}

.developer .mail-site:active {
	color: #ee3643;
}

.e-mail .mail-site {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.e-mail .mail-site:hover {
	text-decoration: underline;
}

.e-mail .mail-site:active {
	color: #ee3643;
}

.popup {
	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}

.user-information {
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.user-information a:hover {
	color: #ee3643;
}

.user-information a:active {
	color: #32425c;
	opacity: 0.3;
}

.login {
	font-size: 21px;
	line-height: 21px;
}

.login:active {
	opacity: 0.3;
}

.navigation {
	font-size: 13px;
	line-height: 18px;
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
}

.filter {
	font-size: 13px;
	line-height: 18px;
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
	margin-left: 20px;
}

.manufacturer-filter {
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

.power-filter {
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

 .page-number {
	font-family: PT Sans, Arial, sens-serif;
	font-size: 13px;
	line-height: 18px;
	border: 1px;
	border-color: #e5e5e5;
}

.page-number:hover {
	border-color: #bdc6ca;
}

.page-number:active {
	border-color: #ee3643;
}

.about-driils {
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans, Arial, sens-serif;
}

.main-navigation {
	margin-bottom: 120px;
}

.block {
	margin-bottom: 120px;
}

.popular-product {
	margin-bottom: 50px;
}

.popular-manufacturers {
	margin-bottom: 150px;
}

.servises {
	margin-bottom: 180px;
}

main {
	margin-bottom: 80px;
}

.header-top {
	margin-bottom: 55px;
	width: 100%;
	background-color: #293449;
	min-height: 42px;
	
}

.header-top a {
	color: white;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.header-top-inner {
	display: flex;
}

.top-menu {
	display: flex;
}

.bookmarks {
	width: 150px;
}

.basket {
	width: 150px;
}

.ordering {
	width: 150px;
}

.site-navigation {
	display: flex; 
	flex-direction: row; 
	padding: 0; 
	justify-content: center; 
}

.site-navigation li {
	flex-grow: 1;
}
	
.site-navigation a {
	display: block;
	padding-top: 19px;
	padding-bottom: 19px;
}

.category-caption {
	display: block;
	padding-left: 20px;
	padding-top: 25px;
}

.category-btn {
	width: 135px;
	height: 18px;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 7px; 
	padding-bottom: 7px;
	border-radius: 5%;
}

.block1 {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.block2 {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.block3 {
	float: right;
	margin-bottom: 20px;
}

.slider {
	float: left;
	margin-right: 20px;
}


.block4 {
	float: right;
	margin-bottom: 20px;
}

.block5 {
	margin-bottom: 20px;
	float: right;
}

.tehnomart {
	width: 220px;
	min-height: 45px;
	float: left;
	margin-right: 150px;
	text-align: center;
	padding-top: 20px;
	
}

.site-navigation-top {
	display: flex;
	padding-top: 40px;
	justify-content: flex-start;
}

.site-navigation-bottom {
	display: flex;
	justify-content: flex-start;
}

.footer-adress {
	float: left;
	margin-right: 70px; 
}

.footer-navigation-top {
	margin-bottom: 40px;
}

.footer-navigation-bottom {
	padding-bottom: 55px;
}

.site-navigation-top li {
	margin-right: 55px;
}

.footer-navigation-bottom li {
	margin-right: 55px;
}

.bottom {
	padding-top: 40px;
	padding-bottom: 40px;
}

.copyright {
	float: left;
	padding-right: 170px;
}

.social {	
	float: left;
	padding-right: 115px;
}

.e-mail {
	float: left;
	padding-right: 55px;
}

.social-btn-vk {
	float: left;
	padding-right: 5px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-btn-vk:hover {
	background-color: #ee3643;
}


.social-btn-fb {
	float: left;
	padding-right: 5px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-btn-fb:hover {
	background-color: #ee3643;
}

.social-btn-inst {
	float: left;
	padding-right: 5px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-btn-inst:hover {
	background-color: #ee3643;
}

.navigation {
	margin-top: -35px;
	margin-bottom: 55px;
}

.navigation-ul {
	display: flex;
	padding: 0px;
}

.navigation-ul li {
	margin-right: 40px;
}

.price {
	margin-top: 35px;	
}

.hyphen {
	margin-left: 10px;
	margin-right: 10px;
}

.price-min {
	margin-top: 50px;
	margin-bottom: 40px;
}

.manufacturer-filter ul {
	padding-left: 0px;
}

.power-filter ul {
	padding-left: 0px;
}

input[type="submit"] {
	border-style: solid #e5e5e5;
	margin-top: 40px;
	padding: 11px 38px 8px 38px;
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	background-color: white;
	border-width: 1px;
	border-radius: 3px;
}

form {
	float: left;
}

.submenu {
	margin-bottom: 35px;
}

.sorting {
	margin-left: 55px;
	margin-right: 140px;
	font-size: 13px;
	line-height: 18px;
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
}

.for-price {
	font-family: PT Sans, Arial, sens-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0,0,0,.3);
	text-decoration: none;
	border-bottom: 1px dashed #ee3643;
	margin-right: 65px;
}

.for-price:hover {
	color: black;
	border-bottom: 1px solid #ee3643;
}

.for-price:active {
	color: #ee3643;
	border-bottom: 0px;
}

.for-tips {
	font-family: PT Sans, Arial, sens-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0,0,0,.3);
	text-decoration: none;
	border-bottom: 1px dashed #ee3643;
	margin-right: 60px;
}

.for-tips:hover {
	color: black;
	border-bottom: 1px solid #ee3643;
}

.for-tips:active {
	color: #ee3643;
	border-bottom: 0px;
}

.for-function {
	font-family: PT Sans, Arial, sens-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0,0,0,.3);
	text-decoration: none;
	border-bottom: 1px dashed #ee3643;
	margin-right: 40px;
}

.for-function:hover {
	color: black;
	border-bottom: 1px solid #ee3643;
}

.for-function:active {
	color: #ee3643;
	border-bottom: 0px;
}

.up-icon {
	margin-right: 20px;
}

.drills {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 55px;
}

.drills li {
	display: block;
	width: 220px;
	min-height: 320px;
	outline: 1px solid #e5e5e5;
	margin-right: 20px;
	margin-bottom: 20px;
}

.drills .third {
	margin-right: 0px;
}

input[type="text"] {
	width: 80px;
	text-align: center;
	border: 0px;
	font-family: PT Sans, Arial, sens-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

input[type="checkbox"] {
	margin-bottom: 25px;
}

input[type="radio"] {
	margin-bottom: 25px;
}

input[type="range"] {
	margin-left: 35px;
}

input[type="search"] {
	background-color: #293449;
	border: 0px;
	color: #e0e1e3;
	width: 265px;
	min-height: 40px;
}

input[type="search"]::-webkit-input-placeholder {
    color: #e0e1e3;
} 
   input[type="search"]::-moz-placeholder {
	color: #e0e1e3;
}

input[type="search"]:hover {
	background-color: #212a3a;
}

input[type="search"]:focus {
	background-color: white;
	color: black;
}


.manufacturer-filter label {
	margin-left: 10px;
}

.power-filter label {
	margin-left: 10px;
}

 hr {
	 border: 1px solid #e5e5e5;
 }

 .drill img {
	 padding-top: 40px;
	 padding-left: 20px;
	 padding-bottom: 40px;
 }

 .bosch-description {
	 display: block;
	 text-align: center;
	 margin-bottom: 15px;
 }

 .old-price {
	display: block;
	text-align: center;
	margin-bottom: 15px;
 }

 .drill-btn {
	margin-left: 45px;
 }

 .third .bosch-description {
	margin-bottom: 48px;
 }

 .number-page {
	 margin-left: 190px;
	 margin-bottom: 130px;
	 display: flex;
	 font-family: PT Sans, Arial, sens-serif;
	 font-size: 13px;
	 line-height: 18px;
	 text-transform: uppercase;
 }

 .page-number {
	 margin-right: 10px;
	 border: 1px solid #e5e5e5;
	 padding-right: 14px;
	 padding-top: 8px;
	 padding-bottom: 10px;
	 padding-left: 16px;
	 border-radius: 3px;
}

.page-number:hover {
	border: 1px solid #bdc6ca;
}

.page-number:active {
	border: 1px solid #ee3643;
}

.page-number:focus {
	border: 1px;
	background-color: #ee3643;
	color: white;
}

.page-next {
	border: 1px solid #e5e5e5;
	 padding-right: 20px;
	 padding-top: 8px;
	 padding-bottom: 10px;
	 padding-left: 20px;
	 border-radius: 3px;
}

.page-next:hover {
	border: 1px solid #bdc6ca;
}

.page-next:active {
	border: 1px solid #ee3643;
}

.page-next:focus {
	border: 1px;
	background-color: #ee3643;
	color: white;
}

.user-information {
	display: flex;
}

.my-orders {
	float: left;
}

.dot {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	width: 5px;
	height: 5px;
	background-color: #32425c;
	border-radius: 50%;
	margin-top: 6px;
	
}