body {
	padding: 0;
	margin: 0;
	font-family: Cuprum, Arial, sens-serif;
	font-size: 13px;
	line-height: 24px;
	color: black;
	background-color: white;
	
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 24px;
	line-height: 21px;
	text-transform: uppercase;
}

.search {
	font-size: 17px;
	line-height: 18px;
}

.top-menu {
	font-size: 17px;
	line-height: 18px;
}

.desription {
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
	line-height: 23px;
}

.telephone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.adress {
	font-size: 14px;
	color: #32425c;
}

.user-block {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.main-navigation {
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	
}

.site-navigation a {
	color: white;
}

.site-navigation {
	list-style: none;
}

.category-caption {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.category-btn {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	border: 3px;
	display: inline-block;
	background: rgba(0,0,0,.1);
	text-align: center;
}

.category-btn:hover {
	background: rgba(0,0,0,.2);
}

.category-btn:active {
	background: rgba(0,0,0,.3);
}

.slider-description-first {
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
	text-transform: uppercase;
}

.slider-description-second {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.block1 {
	width: 300px;
	height: 123px;
	background-color: #ffbf47;
}

.block2 {
	width: 300px;
	height: 123px;
	background-color: #3bbce3;
}

.block3 {
	width: 300px;
	height: 123px;
	background-color: #dc91d8;
}

.block4 {
	width: 300px;
	height: 123px;
	background-color: #8ed78f;
}

.block5 {
	width: 300px;
	height: 123px;
	background-color: #ffc047;
}

.btn {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	border: 3px;
	display: inline-block;
	background: #ba2732;
	text-align: center;
}

.btn:hover {
	background: #ca2c37;
}

.btn:active {
	background: #ee3643;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.bosch-description {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	font-weight: bold;
	text-decoration: line-through;
}

.drill-btn {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	background-color: #ee3643;
}

.servises-btn {
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	background-color: #32425c;
	color: #ffffff;
	outline: none;
	text-align: left;
}

.servises-btn:hover {
	background-color: #293449;
}

.servises-btn:active {
	background-color: #ffffff;
	color: #32425c;
}